<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h1>Welcome to <span class="logo">Project-it!</span></h1>
    <h2><em>Make your ideas come true <span id="Tealeaf"> with <%= tealeaf %>.</span></em></h2>
    <p>Are you working solo on your project? Or have you been looking for a team-project to join? You are at the right place.<br>Sign up and create your project or simply get hired!</p>
    <p> 
      <%= link_to register_path, class: "btn btn-primary btn-lg", role: "button" do %>
        Sign up &raquo;
      <% end %>
    </p>
  </div>
</div>