<section class="wrapper">
  <%= render 'shared/content_title', title: "Registration" %>

  <div class="row text-center">
    <%= render 'shared/errors', obj: @user %>
  </div>

  <%= render 'form' %>

</section>