<section class="wrapper">
  <%= render 'shared/content_title', title: "Profile: #{@user.username}" %>
  <p>
    username: <%= @user.username %><br>
    time_zone: <%= @user.time_zone %>
  </p>
</section>

