<div class="jumbo-box">
  <ol class="breadcrumb">
    <li>
      <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home"></span>
      <% end %>
    </li>
    <li><%= title %></li>
  </ol>
</div>