<footer>
  <p class="pull-right" id="back_to_top">
    <%= link_to "Back to top", '/' %>
  </p>
  <p>
    <span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2014 Tealeaf Industries - All rights reserved · <%= link_to "Privacy", '#' %> · <%= link_to "Terms", '#' %>
  </p>
  <hr>
</footer>

