<footer>
  <p class="pull-right" id="back_to_top">
    <%= link_to "Back to top", '#topper' %>
  </p>
  <p>
    Project-IT! <span class="glyphicon glyphicon-copyright-mark"></span> 2014 by Tomas Tomecek.
  </p>
  <hr>
</footer>

