<footer>
  <p class="pull-right" id="back_to_top">
    <%= link_to "Back to top", '#topper' %>
  </p>
  <p>
    <span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2014 Tomas Tomecek - All rights reserved.
  </p>
  <hr>
</footer>

